/* ADD media query to say THIS SHOULD BE VIEWED ON COMPUTER DESKTOP */


@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #toc-navigation {
    display:none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience, .experience-details-container {
    margin-top: 2rem;
  }
  #profile, .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section, .section-container {
    height: fit-content;
  }
  section {
    margin:0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}


@media screen and (max-width: 600px) {
  #contact-info, footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers, .contact-info-upper-container, .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p, .nav-links li a {
    font-size: 0.85rem;
  }
  .long-paragraph {
    font-size: 1rem;
    line-height: 1.6;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .experience-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .experience-content {
    padding: 1rem 1.25rem;
  }
  .experience-role {
    font-size: 1.1rem;
  }
  .experience-company {
    font-size: 0.95rem;
  }
  .experience-year {
    font-size: 0.95rem;
  }
  .experience-description {
    font-size: 0.9rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}


@media (max-width: 768px) {
  .section__pic-container { flex: 0 0 120px; min-width: 90px; }
  .section__text { padding: 0 1rem; flex-basis: 100%; }
  .details-container { flex-basis: 100%; }
  .nav-links { display: none; }
  .hamburger-menu .menu-links { display: block; }
}